dist
node_modules
cordova/babylonGame/hooks/
cordova/babylonGame/node_modules/
cordova/babylonGame/platforms/
cordova/babylonGame/plugins/
cordova/babylonGame/www/
cordova/babylonGame/.npmignore
cordova/babylonGame/package.json
cordova/babylonGame/res/icon/android
cordova/babylonGame/res/icon/bada
cordova/babylonGame/res/icon/bada-wac
cordova/babylonGame/res/icon/blackberry
cordova/babylonGame/res/icon/blackberry10
cordova/babylonGame/res/icon/ios
cordova/babylonGame/res/icon/tizen
cordova/babylonGame/res/icon/webos
cordova/babylonGame/res/icon/windows-phone
cordova/babylonGame/res/screen/
cordova/babylonGame/res/README.md