dist
node_modules
cordova/cardGame/hooks/
cordova/cardGame/node_modules/
cordova/cardGame/platforms/
cordova/cardGame/plugins/
cordova/cardGame/www/
cordova/cardGame/.npmignore
cordova/cardGame/package.json
cordova/cardGame/res/icon/android
cordova/cardGame/res/icon/bada
cordova/cardGame/res/icon/bada-wac
cordova/cardGame/res/icon/blackberry
cordova/cardGame/res/icon/blackberry10
cordova/cardGame/res/icon/ios
cordova/cardGame/res/icon/tizen
cordova/cardGame/res/icon/webos
cordova/cardGame/res/icon/windows-phone
cordova/cardGame/res/screen/
cordova/cardGame/res/README.md